<section>
    <h2>Useful Links for Destiny 2 Players</h2>
    <h4>
        There are a number of websites and resources that players can use while
        playing Destiny 2. With the help of Bungie's API, people have made bots, 
        applications, and simple web pages, to analyze in game data and statistics
        that are output each day the game is played.
    </h4>
    <a href="https://docs.google.com/spreadsheets/d/1i1KUwgVkd8qhwYj481gkV9sZNJQCE-C3Q-dpQutPCi4/edit#gid=242217075">
        <h3>Court's Comprehensive Destiny 2 Data & Information Infographics</h3>
    </a>
    <h4>
        This is a spreadsheet containing guides and information for end game concepts
        such as damage stacking, combatants, champions, and much more. The game is rather 
        complex when it comes to things such as in game buffs. Certain buffs belong to their
        own categories. Some of them stack, some of them cancel each out, or don't work 
        when another is active. I had trouble with dealing with Champions in the end game
        harder content. Knowing which weapons are best to deal with these combatants is crucial
        for both time and efficiency in game. This guide goes super in depth in each of the
        guides and tabs that it has.
    </h4>
    <a href="https://www.light.gg/">
        <h3>light.gg</h3>
    </a>
    <h4>
        Light.gg is amazing. I use it nearly every time that I pull up the game to see 
        whether or not the weapon I got from in game content is worth keeping or deleting.
        It is considered as one of the best applications or databases for Destiny 2. You
        can see possible weapon rolls, full stats, 3D previews, god rolls, leaderboards, and 
        much, much more. My favorite feature is the god roll appraiser. This feature goes
        through each weapon and rates them from S to F Tiers. This lets you know which weapons
        to keep and which to delete.
    </h4>
    <a href="https://bray.tech/">
        <h3>Braytech</h3>
    </a>
    <h4>
        This is one that I have recently found. It tracks character progression, clans, triumphs,
        and collections. It also allows you to view and map out checklists. This application started
        out as a simple checklist app and has expanded to much more. The design and overall feel
        is something to behold. 
    </h4>
    <a href="https://destinyitemmanager.com/en/">
        <h3>Destiny Item Manager</h3>
    </a>
    <h4>
        This application has been around since Bungie's first iteration of the Destiny franchise.
        I consider it to be an absolute must if you play the game. It makes gameplay much more effiecient
        that it is kind of crazy! Item management is something that plagues every player that
        delves into this monster of a game. The item manager they have implemented allows you to tag items
        for sorting, move items from character to character and character to your vault space.
        You can also create loadouts and optimize the stats to be what you want or get them as 
        close as you want can. The search system that is implemented also makes it super easy to find
        items. Considering when you have a vault capacity of up to 600, you are not going to know
        where a specific item is going to be right off of the top of your head. 
    </h4>
    <a href="https://d2armorpicker.com/#/login">
        <h3>Destiny 2 Armor Picker</h3>
    </a>
    <h4>
        This is a critical tool when it comes to min-maxing your armor stats for your builds. The stats
        for your builds dictate your characters abilities in game and this is crucial for your end game 
        activites. The application allows you to select the optimal armor from your inventory and vault
        to satisfy your needs. Additionally, it tells you which stat mods to use and I consider this to
        a decent part of the headache when it comes to making builds for end game content. It's annoying, 
        time consuming, and this application takes that out of the equation.
    </h4>
</section>
