<h2 class="title">End Game Weapon Checklist</h2>
<section>
    <mat-list>
        <h3>Must Haves</h3>
        <mat-checkbox >
            <img src="../../assets/images/item-images/acasia_s dejection.png" alt="acasias dejection">
            <p>Acasia's Dejection</p>
        </mat-checkbox>
        <mat-checkbox>
            <img src="../../assets/images/item-images/apex predator.png" alt="apex predator">
            <p>Apex Predator</p>
        </mat-checkbox>
        <mat-checkbox>
            <img src="../../assets/images/item-images/forbearance.png" alt="forbearance">
            <p>Forbearance</p>
        </mat-checkbox>
        <mat-checkbox>
            <img src="../../assets/images/item-images/gjallarhorn.png" alt="gjallarhorn">
            <p>Gjallarhorn</p>
        </mat-checkbox>
        <mat-checkbox>
            <img src="../../assets/images/item-images/heritage.png" alt="heritage">
            <p>Heritage</p>
        </mat-checkbox>
        <mat-checkbox>
            <img src="../../assets/images/item-images/ikelos_sg_v1.0.3.png" alt="ikelos sg">
            <p>IKELOS_SG_V1</p>
        </mat-checkbox>
        <mat-checkbox>
            <img src="../../assets/images/item-images/izanagi_s burden.png" alt="izanagis burden">
            <p>Izanagi's Burden</p>
        </mat-checkbox>
        <mat-checkbox>
            <img src="../../assets/images/item-images/lingering dread.png" alt="lingering dread">
            <p>Lingering Dread</p>
        </mat-checkbox>
        <mat-checkbox>
            <img src="../../assets/images/item-images/lumina.png" alt="lumina">
            <p>Lumina</p>
        </mat-checkbox>
        <mat-checkbox>
            <img src="../../assets/images/item-images/new pacific epitaph.png" alt="new pacific epitaph">
            <p>New Pacific Epitaph</p>
        </mat-checkbox>
        <mat-checkbox>
            <img src="../../assets/images/item-images/parasite.png" alt="parasite">
            <p>Parasite</p>
        </mat-checkbox>
        <mat-checkbox>
            <img src="../../assets/images/item-images/pardon our dust.png" alt="pardon our dust">
            <p>Pardon Our Dust</p>
        </mat-checkbox>
        <mat-checkbox>
            <img src="../../assets/images/item-images/path of least resistance.png" alt="path of least resistance">
            <p>Path of Least Resistance</p>
        </mat-checkbox>
        <mat-checkbox>
            <img src="../../assets/images/item-images/succession.png" alt="succession">
            <p>Succession</p>
        </mat-checkbox>
        <mat-checkbox>
            <img src="../../assets/images/item-images/the fourth horseman.png" alt="the fourth horseman">
            <p>The Fourth Horseman</p>
        </mat-checkbox>
        <mat-checkbox>
            <img src="../../assets/images/item-images/the other half.png" alt="the other half">
            <p>The Other Half</p>
        </mat-checkbox>
        <mat-checkbox>
            <img src="../../assets/images/item-images/the supremacy.png" alt="the supremacy">
            <p>The Supremacy</p>
        </mat-checkbox>
        <mat-checkbox>
            <img src="../../assets/images/item-images/tractor cannon.png" alt="tractor cannon">
            <p>Tractor Cannon</p>
        </mat-checkbox>
        <mat-checkbox>
            <img src="../../assets/images/item-images/trinity ghoul.png" alt="trinity ghoul">
            <p>Trinity Ghoul</p>
        </mat-checkbox>
        <mat-checkbox>
            <img src="../../assets/images/item-images/wilderflight.png" alt="wilderflight">
            <p>Wilderflight</p>
        </mat-checkbox>
        <h3>Alternate Inferior Pick or Niche</h3>
        <mat-checkbox >
            <img src="../../assets/images/item-images/anarchy.png" alt="anarchy">
            <p>Anarchy</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/arbalest.png" alt="arbalest">
            <p>Arbalest</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/bastion.png" alt="bastion">
            <p>Bastion</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/cold comfort.png" alt="cold comfort">
            <p>Cold Comfort</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/deafening whisper.png" alt="deafening whisper">
            <p>Deafening Whisper</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/eriana_s vow.png" alt="erianas vow">
            <p>Eriana's Vow</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/fortissimo-11.png" alt="fortissimo-11">
            <p>Fortissimo-11</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/ignition code.png" alt="ignition code">
            <p>Ignition Code</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/imperial decree.png" alt="imperial decree">
            <p>Imperial Decree</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/mindbender_s ambition.png" alt="mindbenders ambition">
            <p>Mindbender's Ambition</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/ragnhild-d.png" alt="ragnhild-d">
            <p>Ragnhild-D</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/retraced path.png" alt="retraced path">
            <p>Retraced Path</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/riiswalker.png" alt="riiswalker">
            <p>riiswalker</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/riptide.png" alt="riptide">
            <p>Riptide</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/seventh seraph cqc-12.png" alt="seventh seraph cqc-12">
            <p>Sevent Seraph CQC-12</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/sojourner_s tale.png" alt="sojourners tale">
            <p>Sojourner's Tale</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/the comedian.png" alt="the comedian">
            <p>The Comedian</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/the hothead.png" alt="the hothead">
            <p>The Hothead</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/the wardcliff coil.png" alt="the wardcliff coil">
            <p>The Wardcliff Coil</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/wastelander m5.png" alt="wastelander m5">
            <p>Wastelander M5</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/witherhoard.png" alt="Witherhoard">
            <p>The Witherhoard</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/without remorse.png" alt="without remorse">
            <p>Without Remorse</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/xenoclast iv.png" alt="xenoclast iv">
            <p>Xenoclast IV</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/xenophage.png" alt="xenophage">
            <p>Xenophage</p>
        </mat-checkbox>
        <h3>Situational or Unneccessary</h3>
        <mat-checkbox >
            <img src="../../assets/images/item-images/conditional finality.png" alt="conditional finality">
            <p>Conditional Finality</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/distant tumulus.png" alt="distant timulus">
            <p>Bastion</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/divinity.png" alt="divinity">
            <p>Divinity</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/empty vessel.png" alt="empty vessel">
            <p>Empty Vessel</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/first in, last out.png" alt="first in last out">
            <p>First In, Last Out</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/ikelos_sr_v1.0.3.png" alt="ikelos sr">
            <p>IKELOS_SR_V1.0.3</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/koraxis_ distress.png" alt="koraxiss distress">
            <p>Koraxis's Distress</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/nessa_s oblation.png" alt="nessas oblation">
            <p>Nessa's Oblation</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/one small step.png" alt="one small step">
            <p>One Small Step</p>
        </mat-checkbox>        
        <mat-checkbox >
            <img src="../../assets/images/item-images/red herring.png" alt="red herring">
            <p>red herring</p>
        </mat-checkbox>
        <h3>Honorable Mentions</h3>
        <mat-checkbox >
            <img src="../../assets/images/item-images/briar_s contempt.png" alt="briars contempt">
            <p>Briar's Contempt</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/calus mini-tool.png" alt="calus mini tool">
            <p>Calus Mini Tool</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/cataclysmic.png" alt="cataclysmic">
            <p>Cataclysmic</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/commemoration.png" alt="commemoration">
            <p>Commemoration</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/funnelweb.png" alt="funnelweb">
            <p>Funnelweb</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/grand overture.png" alt="grand overture">
            <p>Grand Overture</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/hollow denial.png" alt="hollow denial">
            <p>Hollow Denial</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/ikelos_smg_v1.0.3.png" alt="ikelos smg">
            <p>IKELOS_SMG_V1.0.3</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/no reprieve.png" alt="no reprieve">
            <p>No Reprieve</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/reed_s regret.png" alt="reeds regret">
            <p>Reed's Regret</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/stormchaser.png" alt="stormchaser">
            <p>Stormchaser</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/taipan-4fr.png" alt="taipan-4fr">
            <p>Taipan-4fr</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/the lament.png" alt="The Lament">
            <p>The Lament</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/thunderlord.png" alt="thunderlord">
            <p>Thunderlord</p>
        </mat-checkbox>
        <mat-checkbox >
            <img src="../../assets/images/item-images/truthteller.png" alt="truthteller">
            <p>Truthteller</p>
        </mat-checkbox>
    </mat-list>
</section>